id ICON "./assets/logo.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Blank Coperation"
      VALUE "FileDescription", "SpectrumColor Pro: Effortlessly pick, modify, and copy colors on Windows"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "SpectrumColor Pro"
      VALUE "LegalCopyright", "yes"
      VALUE "OriginalFilename", "SpectrumColor.exe"
      VALUE "ProductName", "SpectrumColor"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
